.tableWrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem 0 2rem 0;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

.tableWrapper a {
    font-size: 0.9rem;
    font-weight: 600;
    color: #31bb6b;
    text-decoration: none;
}

.tableWrapper a:hover {
    text-decoration: underline;
}
